<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CRUD MYSQL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list lines ="full">
  <ion-item>
    <ion-label position="floating">Año</ion-label>
    <ion-input [(ngModel)]="curso" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" type="text"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="button" (click)="addStudent()" color="primary" shape="full" expand="block">Añadir Estudiante</ion-button>
    </ion-col>
  </ion-row>
</ion-list>

<ion-list>
  <ion-list-header>
    Lista de Estudiantes
  </ion-list-header>

  <ion-item lines="inset" *ngFor="let student of students">
      <ion-label>
          <h5> {{student.nombre}} {{student.apellido}} nacido en {{student.curso}} </h5>
      </ion-label>

      <div class="item-note">
          <ion-icon name="create" style="zoom:2.0;" [routerLink]="['/update-student/',student.id]"></ion-icon>
          <ion-icon name="trash" style="zoom:2.0;" (click)="deleteStudent(student.id)"></ion-icon>
      </div>
  </ion-item>

</ion-list>
 

</ion-content>
